<div class="container" style="background-color:rgb(154, 163, 173); width: 500px; height: auto; padding-bottom: 10px;">
    <h3>Centro de mensajes</h3>
    <br>
    <input type="email" id="user" placeholder="Ingrese su email" required><label id="warning" style="color:red;"></label>
    <hr size="5px">
    <div id="chat"></div>
    <input type="text" id="texto">
    <button type="button" id="enviar">Enviar</button>
</div>